<h2>Lista de movimentações</h2>
<app-menu-page></app-menu-page>
<button routerLink="/moviment/new">Realizar Movimentacao</button>
<table cellspacing="0">
  <thead>
    <tr>
      <th>id</th>
      <th>Tipo de Movimentação</th>
      <th>Data de movimentação</th>
    </tr>
  </thead>
  <tbody>

    <td >
      <tr *ngFor="let item of movimentArrayList">{{item.id}}</tr>
    </td>
    <td >
      <tr *ngFor="let item of movimentArrayList">{{item.movType}}</tr>
    </td>
    <td >
      <tr *ngFor="let item of movimentArrayList">{{dateFormat(item.movData)}}</tr>
    </td>
  </tbody>
</table>
