<ul class="productListTable" [style]="listStyles" [tabIndex]="">
  <li class="productNameData" style="margin: 1rem 0.5rem">
    <label>Nome: </label><br>
    <input class="tableNameInput" [formControl]="name"/>
  </li>
  <li class="productQuantityData" style="margin: 1rem 0.5rem">
    <label>Quantidade: </label><br>
    <input class="tableQuantityInput" [formControl]="quantity"/>
  </li>
  <li class="productUnitValueData" style="margin: 1rem 0.5rem">
    <label>Valor Unitário: </label><br>
    <input class="tableUnitValueInput" [formControl]="unitValue"/>
  </li>
  <li>
    <br><br><button (click)="addProduto()">Adicionar Produto</button>
  </li>
</ul>
<br>
